<div class="container">
    <div class="row" style="margin-top: 19px">
        <div class="col-md-6 mx-auto">
            <div class="card " style="margin-top: 29px">
                <div class="card-body ">
                    <div class="row">
                        <img src="assets/images/OrderPlaced.PNG" class="Image"  >
                    </div>
                    <div class="flexLabel">
                        <label class="line1" >hurray!!!your order is confirmed  </label>
                        <label class="line2" >  the order id is #123456 save the order is for </label>
                        <label class="line3" > further communication...</label>
                    </div>
                  
                    
    <table>
    <tr>
        <th>Email Us</th>
        <th>Contact Us</th>
        <th>Address</th>
    </tr>
    <tr>
        <td>admin@bookstore.com</td>
        <td>+918163475881</td>
        <td>42, 14th Main, 15th Cross, Sector4, opp to BDA 
            complex, near Kumarakom restaurant, HSR Layout,
            Banglore 560034</td>
    </tr>
    
  </table>

  
                    <div class="flexShopping">
                        <button ID="PlaceOrder"  routerLink="/" class="btn btn-primary ContinueShopping" >CONTINUE SHOPPING</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>