<nav class="navbar  navbar-light d-flex justify-content-lg-around" style="background-color: #A03037;">

  <div class="navbar-brand "  ><img src="assets/images/booklogo.PNG" class="img-rounded" alt="Cinque Terre">BookStore</div>
  
  <form class="form-inline my-2 my-lg-0 d-flex" style="position: relative;
  right: 113px;">
      <div style="position:relative; width:247px; left: 153px;">
          <button class="btn " type="submit" style="width: 44px;
      position: relative;
      left: 56px;
      background-color: white;
      box-shadow: none"><img src="assets/images/search-icon.png" class="img-rounded" alt="Cinque Terre" style="width: 26px;"></button>
  </div>
  <input class="form-control mr-sm-2" type="search" style="box-shadow: none;
      border: none; width: 505px">
    
  </form>
  <div>
      <a routerLink="/profile"><img src="assets/images/profile.PNG" class="img-rounded" alt="Cinque Terre" style="width: 36px; height:44px;"></a>
        
      <a routerLink="/cart"><img src="assets/images/cart3.PNG" class="img-rounded" alt="Cinque Terre" style="width: 36px; height:44px;"></a>
  </div>
  </nav>
<router-outlet></router-outlet>